# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
venv/

# Logs
*.log

# Streamlit cache and secrets
.streamlit/
